h1 {
  font-family: arial, Helvetica, sans-serif;
  text-align: center;
}

p {
  font-family: arial, Helvetica, sans-serif;
  text-align: center;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .main-section {
    margin-left: 0;
  }
}

.welcome-section {
  padding-top: 60px;
}

.nav {
  display: flex;
  justify-content: center; 
  background-color: #333; 
  padding: 10px 0; 
}

#navbar {
  position: fixed; 
  top: 0; 
  width: 100%; 
  background-color: #333; 
  z-index: 1000; 
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px; 
}

.nav-list li a:hover {
  background-color: #ddd;
  color: black;
}
